<table class="table">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody id="tbodyList">
        <!-- si no hay datos -->
        <% if (productos.length===0) { %>
            <tr>
                <td colspan="3">
                    <center>No hay productos para mostrar</center>
                </td>
            </tr>
        <% } else { %>
            <% for (let i=0; i < productos.length; i++) { %>
                <tr>
                    <td>
                        <%=productos[i].name%>
                    </td>
                    <td>
                        $<%=productos[i].price%>
                    </td>
                    <td><img src="<%=productos[i].thumbnail%>" alt="imagen"></td>
                </tr>
            <% } } %>
    </tbody>
</table>